doctype html
html
  head
    title career
    style
      include ../../public/css/career.css
      include ../../public/css/styles.css
      include ../../public/css/about.css
  body
    header
      .logo 
        h3 Avengers
      .nav
        ul.navlinks
          li <a href="/" class="home-tag">Home</a>
          li <a href="about" class="about-tag">About</a> 
          li <a href="career" class="career-tag">Career</a>
          li <a href="contact" class="contact-tag">Contact</a>